@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: var(--font-work-sans);
  --font-heading: var(--font-oraniembaum-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montagu-slab-sans), serif;
}

.display-1 {
  font-size: 14rem;
  margin-bottom: 7rem;
  line-height: 8rem;
}

.display-2{
  font-size: 3rem;
  line-height: 5rem;
}

strong {
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

a {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}
